$fundo-esquerda: #6600cc;
$fundo-direita: #cc99ff;
$marcador:  #00ff00;

.principal {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .signature {
    font-style: italic;
    font-size: 12px;
    color: #212121;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: whitesmoke;
    }
  }
}

.navigationPanel {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 10;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;

  .logoPanel {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      padding-left: 4px;
      color: $marcador;
    }
  }

  .navigation {
    display: flex;
    list-style-type: none;

    li {
      opacity: 1;
      list-style-type: none;
      color: whitesmoke;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    .parent {
      padding: 0 10px;
      cursor: pointer;

      .link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: white;

        &:hover {
          color: $marcador;
        }

        .fa-minus {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          position: absolute;
          left: -16px;
          top: 3px;
        }

        .fa-plus {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }

        .fas {
          color: #ea4f4c;
          margin: -2px 4px 0;
          font-size: 10px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .subnavigation {
      display: none;
      list-style-type: none;
      width: 100px;
      position: absolute;
      top: 40%;
      left: 25%;
      margin: auto;
      transition: all 0.3s ease-in-out;
      background-color: #222;

      li a {
        font-size: 17px;
        padding: 0 5px;
      }
    }
  }
}

.active.parent {
  transform: translate(-40px, -25px);
  .link {
    font-size: 12px;

    .fa-minus {
      opacity: 1 !important;
      font-size: 8px;
    }

    .fa-plus {
      opacity: 0 !important;
    }
  }

  .subnavigation {
    display: flex;
  }
}

.active#clients {
  .subnavigation {
    transform: translate(-150px, 17px);
  }
}

.active#services {
  .subnavigation {
    transform: translate(-290px, 17px);
  }
}

.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}

.titulo1 {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-left: 30px;
  color:whitesmoke;
}

.titulo {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-left: 30px;
  color:whitesmoke;
}

.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 2px;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  text-transform: uppercase;
  overflow: hidden;
  font-size: small;
  width: 90vw;
  background-color: whitesmoke;
  color: #6600cc;
  bottom: 10px;
}

.conteudo  {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projetos {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projetos .container {
  background-color: transparent;
  box-shadow: none;
}

.habilidades {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.projetos .container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}
.projeto-card {
  height: 290px;
  width: 210px;
  background-color:whitesmoke;
}
.habilidades .container {
  background-image: url("../assets/img/04.jpg");
  opacity: 0.9;
  background-repeat: repeat;
  background-position: left;
}
.habilidades li {
  color: white;
}
.formacao {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formacao .container {
  background-image: url("../assets/img/11.jpg");
  opacity: 0.8;
  background-repeat: space;
  background-position: right;
  height: 30vh;
  color: whitesmoke;
}
