<div id="app" class="principal">
  <nav class="navigationPanel">
    <div class="logoPanel">
      <span class="stylish">{{nome}}</span>
      <span class="logo">{{marcador}}</span>
    </div>
    <ul class="navigation">
      <li class="parent"><a class="link" href="#">Inicio</a></li>
      <li class="parent"><a class="link" href="#">Sobre</a></li>
      <li class="parent" id="clients">
        <a class="link" href="#"><i class="fas fa-minus"></i> Tecnologias <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Burger King</a></li>
          <li><a class="link" href="#">Southwest Airlines</a></li>
          <li><a class="link" href="#">Levi Strauss</a></li>
        </ul>
      </li>
      <li class="parent" id="services">
        <a class="link" href="#"><i class="fas fa-minus"></i> Serviços <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Print Design</a></li>
          <li><a class="link" href="#">Web Design</a></li>
          <li><a class="link" href="#">Mobile App Development</a></li>
        </ul>
      </li>
      <li class="parent"><a class="link" href="#">Contato</a></li>
    </ul>
  </nav>
</div>
<div class="conteudo">
  <div class="titulo">
    <h1> Apresentação - Presentation </h1>
  </div>
  <div id="container" class="container">
    <p> Um entusiata da área de programação web com o foco na linguagem Java e seus frameworks (Spring, Vraptor, Hibernate, JPA) com conhecimento e experiencia em bancos de dados relacionais como Oracle DB, PostgreSQL and MySQL. Um Professor com a tarefa de ensinar a arte da programação e que tem a dificil missão de diminuir o abismo entre a faculdade e o mercado de trabalho para o aluno. </p>
  </div>
</div>
<div class="habilidades">
  <div class="titulo">
    <h1> Habilidades - Skills </h1>
  </div>
  <div id="container" class="container">
    <div>
      <ul>
        <li> JAVA </li>
        <li> JAVA </li>
        <li> JAVA </li>
        <li> JAVA </li>
      </ul>
    </div>
    <div>
      <ul>
        <li> ORACLE </li>
        <li> ORACLE </li>
        <li> ORACLE </li>
        <li> ORACLE </li>
      </ul>
    </div>
  </div>
</div>
<div class="projetos">
  <div class="titulo">
    <h1> Projetos - Projects </h1>
  </div>
  <div id="container" class="container">
    <figure img="assets\img\projeto.jpg"> </figure>
    <figure img="assets\img\projeto.jpg"> </figure>
    <figure img="assets\img\projeto.jpg"> </figure>
    <figure img="assets\img\projeto.jpg"> </figure>
    <figure img="assets\img\projeto.jpg"> </figure>
  </div>
</div>

<div class="formacao">
  <div class="titulo">
    <h1> Formação - Graduation </h1>
  </div>
  <div id="container" class="container">
    <div>
      <ul>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
      </ul>
    </div>
  </div>
</div>
