<div id="app" class="principal">
  <nav class="navigationWrapper">
    <div class="logoWrapper">
      <span class="stylish">{{nome}}</span>
      <span class="logo">{{marcador}}</span>
    </div>
    <ul class="navigation">
      <li class="parent"><a class="link" href="#">Inicio</a></li>
      <li class="parent"><a class="link" href="#">Sobre</a></li>
      <li class="parent" id="clients">
        <a class="link" href="#"><i class="fas fa-minus"></i> Tecnologias <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Burger King</a></li>
          <li><a class="link" href="#">Southwest Airlines</a></li>
          <li><a class="link" href="#">Levi Strauss</a></li>
        </ul>
      </li>
      <li class="parent" id="services">
        <a class="link" href="#"><i class="fas fa-minus"></i> Serviços <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Print Design</a></li>
          <li><a class="link" href="#">Web Design</a></li>
          <li><a class="link" href="#">Mobile App Development</a></li>
        </ul>
      </li>
      <li class="parent"><a class="link" href="#">Contato</a></li>
    </ul>
  </nav>
  <div id="container" class="container">
    <p> Um entusiata da área de programação web com o foco na linguagem Java e seus frameworks (Spring, Vraptor, Hibernate, JPA) com conhecimento e experiencia em bancos de dados relacionais como Oracle DB, PostgreSQL and MySQL. Um Professor com a tarefa de ensinar a arte da programação e que tem a dificil missão de diminuir o abismo entre a faculdade e o mercado de trabalho para o aluno. </p>
  </div>
</div>
