
$fundo-esquerda: #6600cc;
$fundo-direita: #cc99ff;
$marcador:  #00ff00;
$hover: cubic-bezier(0.23, 1, 0.32, 1);
$retorno: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.principal {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .signature {
    font-style: italic;
    font-size: 12px;
    color: #212121;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: whitesmoke;
    }
  }
}

.navigationPanel {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 10;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;

  .logoPanel {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      padding-left: 4px;
      color: $marcador;
    }
  }

  .navigation {
    display: flex;
    list-style-type: none;

    li {
      opacity: 1;
      list-style-type: none;
      color: whitesmoke;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    .parent {
      padding: 0 10px;
      cursor: pointer;

      .link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: white;

        &:hover {
          color: $marcador;
        }

        .fa-minus {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          position: absolute;
          left: -16px;
          top: 3px;
        }

        .fa-plus {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }

        .fas {
          color: #ea4f4c;
          margin: -2px 4px 0;
          font-size: 10px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .subnavigation {
      z-index: 0;
      display: none;
      list-style-type: none;
      width: 100px;
      position: absolute;
      top: 80%;
      left: 25%;
      margin: auto;
      transition: all 0.3s ease-in-out;
      background-color: #222;

      &:hover {
        z-index: 0;
        display: block;
        list-style-type: none;
        width: 100px;
        position: absolute;
        top: 80%;
        left: 25%;
        margin: auto;
        transition: all 0.3s ease-in-out;
        background-color: #222;
      }

      li a {
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }
}

.active.parent {
  transform: translate(-40px, -25px);
  .link {
    font-size: 12px;

    .fa-minus {
      opacity: 1 !important;
      font-size: 8px;
    }

    .fa-plus {
      opacity: 0 !important;
    }
  }

  .subnavigation {
    display: flex;
  }
}

.active#clients {
  .subnavigation {
    transform: translate(-150px, 17px);
  }
}

.active#services {
  .subnavigation {
    transform: translate(-290px, 17px);
  }
}

.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}

.titulo1 {
  display: flex;
  font-family: "Raleway";
  font-size: 20px;
  justify-content: left;
  margin-top: 80px;
  margin-left: 30px;
  color:whitesmoke;
}

.titulo {
  display: flex;
  font-family: "Raleway";
  justify-content: left;
  font-size: 20px;
  margin-top: 80px;
  margin-left: 30px;
  color:whitesmoke;
}

.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 2px;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  text-transform: uppercase;
  overflow: hidden;
  font-size: small;
  width: 90vw;
  background-color: whitesmoke;
  color: #6600cc;
  bottom: 10px;
}

.conteudo  {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projetos {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projetos .container {
  background-color: transparent;
  box-shadow: none;
}

.habilidades {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.projetos .container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}
.projeto-card {
  height: 290px;
  width: 210px;
  background: linear-gradient(115deg, #6600cc 0%, #66aa 100%);
}
.habilidades .container {
  background-image: url("../assets/img/04.jpg");
  opacity: 0.9;
  background-repeat: repeat;
  background-position: left;
}
.habilidades li {
  color: white;
}
.formacao {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formacao .container {
  background-image: url("../assets/img/11.jpg");
  opacity: 0.8;
  background-repeat: space;
  background-position: right;
  height: 30vh;
  color: whitesmoke;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  // background-color: #fff;

  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hover;
    }
    .card-info:after {
      transition: 5s $hover;
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition:
        0.6s $hover,
        opacity 5s $hover;
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s $hover,
        box-shadow 2s $hover;
      box-shadow:
        rgba(white, 0.2) 0 0 20px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 10px 20px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 10px 20px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $retorno;
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background: url('../assets/img/07.jpg');
  background-size: cover;
  transition:
    1s $retorno,
    opacity 5s 1s $retorno;
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);

  p {
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s $retorno;
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(black, 0.5) 0 10px 10px;
}
