<header>
<div id="app" class="principal">
  <nav class="navigationPanel">
    <div class="logoPanel">
      <span class="stylish">{{nome}}</span>
      <span class="logo">{{sobrenome}}</span>
    </div>
    <ul class="navigation">
      <li class="parent"><a class="link" href="#">Apresentação</a></li>
      <li class="parent"><a class="link" href="#">Habilidades</a></li>
      <li class="parent" id="clients">
        <a class="link" href="#"><i class="fas fa-minus"></i> Projetos <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Burger King</a></li>
          <li><a class="link" href="#">Southwest Airlines</a></li>
          <li><a class="link" href="#">Levi Strauss</a></li>
        </ul>
      </li>
      <li class="parent" id="services">
        <a class="link" href="#"><i class="fas fa-minus"></i> Formação <i class="fas fa-plus"></i></a>
        <ul class="subnavigation">
          <li><a class="link" href="#">Print Design</a></li>
          <li><a class="link" href="#">Web Design</a></li>
          <li><a class="link" href="#">Mobile App Development</a></li>
        </ul>
      </li>
      <li class="parent"><a class="link" href="#">Contato</a></li>
    </ul>
  </nav>
</div>
</header>
<section>
<div class="conteudo">
  <div class="titulo1">
    <h1> Apresentação - Presentation </h1>
  </div>
  <div class="apresentacao">
    <p> Um entusiata da área de programação web com o foco na linguagem Java e seus frameworks (Spring, Vraptor, Hibernate, JPA) com conhecimento e experiencia em bancos de dados relacionais como Oracle DB, PostgreSQL and MySQL. Um Professor com a tarefa de ensinar a arte da programação e que tem a dificil missão de diminuir o abismo entre a faculdade e o mercado de trabalho para o aluno. </p>
  </div>
</div>
</section>
<section>
<div class="habilidades">
  <div class="titulo">
    <h1> Habilidades - Skills </h1>
  </div>
  <div  class="container">
    <div>
      <ul>
        <li> JAVA </li>
        <li> JAVA </li>
        <li> JAVA </li>
        <li> JAVA </li>
      </ul>
    </div>
    <div>
      <ul>
        <li> ORACLE </li>
        <li> ORACLE </li>
        <li> ORACLE </li>
        <li> ORACLE </li>
      </ul>
    </div>
  </div>
</div>
</section>
<section>
<div class="projetos">
  <div class="titulo">
    <h1> Projetos - Projects </h1>
  </div>
  <div class="container">

    <div class="card-wrap">
      <div class="card">
        <div class="card-bg"></div>
        <div class="card-info">
          <h1>header</h1>
          <p>Conteudo informativo</p>
        </div>
      </div>
    </div>
    <div class="card-wrap">
      <div class="card">
        <div class="card-bg"></div>
        <div class="card-info">
          <h1>header</h1>
          <p>Conteudo informativo</p>
        </div>
      </div>
    </div>
    <div class="card-wrap">
      <div class="card">
        <div class="card-bg"></div>
        <div class="card-info">
          <h1>header</h1>
          <p>Conteudo informativo</p>
        </div>
      </div>
    </div>
    <div class="card-wrap">
      <div class="card">
        <div class="card-bg"></div>
        <div class="card-info">
          <h1>header</h1>
          <p>Conteudo informativo</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
<div class="formacao">
  <div class="titulo">
    <h1> Formação - Graduation </h1>
  </div>
  <div class="container">
    <div>
      <ul>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
        <li> Mestrado em Engenharia Eletrica </li>
      </ul>
    </div>
  </div>
</div>
</section>
<footer>
  <div class="footer"> Paulo Correa @ 2020 </div>
</footer>
